
table{
    border-collapse: collapse;
}
th{
    border: 1.5px solid black;
    padding: 10px;
    background-color: bisque;
    
    }
    tr{
        border: 1.5px solid black;
        padding: 10px;
        background-color: bisque;
    }
    td{
        border: 1px solid black;
        padding: 10px;
        background-color: cadetblue;
    }
